# Mac users
.DS_Store

# For our emacs users
*~

## Gradle
.gradle
/build/classes/*
/build/generated/*
/build/jacoco/*
/build/resources/*
/build/test-results/*
/build/tmp/*
/build/reports/problems/*
/build/reports/tests/*
/build/reports/jacoco/test/html*
/out/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# for eclipse users
.classpath
.project
.settings/

# for intellij users
.idea/
*.iml
/bin
